.text-box {
  height: 850px;
}

.navbar-buttons {
  background-size: cover;
  margin-left: 4px;
  padding-bottom: 10px;
}

.sketch-options {
  margin-right: 10px;
}

.link-button {
  background-image: url("./icons/link.png");
}

.style-button {
  background-image: url("./icons/style.png");
}

.la-button {
  background-image: url("./icons/la.png");
}

.undo-button {
  background-image: url("./icons/undo.png");
}

.redo-button {
  background-image: url("./icons/redo.png");
}

.ra-button {
  background-image: url("./icons/ra.png");
}

.ca-button {
  background-image: url("./icons/ca.png");
}

.ol-button {
  background-image: url("./icons/ol.png");
}

.ul-button {
  background-image: url("./icons/ul.png");
}

.indent-button {
  background-image: url("./icons/indent.png");
}

.outdent-button {
  background-image: url("./icons/outdent.png");
}

.text-editor {
  border: 1px #000000 solid;
  height: 100%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  padding: 12px;
  width: 90%;
}

.mic-icon {
  animation: heartbeat 1s infinite;
  display: block;
  margin: auto;
}

@keyframes heartbeat {
  0% {
    transform: scale(.75);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(.75);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(.75);
  }

  100% {
    transform: scale(.75);
  }
}

.loading:after {
  content: '  ...';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
  }
}